

.container-logo-login{
    padding: 40px;
}

.logo-login{
    display: flex;
    justify-content: center;
}

.div-login{
    display: flex;
    justify-content: center;
    width: 50%;
}

.login{
    background-color: rgb(189, 8, 8);
}

.contenedor-boton{
    display: flex;
    justify-content: center;
    align-items: center;
}